[tool.poetry]
name = "chromadb-hfds"
version = "0.0.1"
description = "Chroma DB Hugging Face Datasets import/export utility"
authors = ["Trayan Azarov <trayan.azarov@amikos.tech>"]
license = "MIT"
readme = "README.md"
packages = [{ include = "chromadb_hfds" }]
[tool.poetry.urls]
"Bug Tracker" = "https://github.com/amikos-tech/chromadb-hfds/issues"
"Homepage" = "https://github.com/amikos-tech/chromadb-hfds/"
"Source" = "https://github.com/amikos-tech/chromadb-hfds/"

[tool.poetry.dependencies]
python = "^3.9"
chromadb-client = "^0.4.19.dev0"
datasets = "^2.15.0"
tqdm = "^4.66.1"
rich = "^13.7.0"
opentelemetry-api = ">=1.2.0"
opentelemetry-exporter-otlp-proto-grpc = ">=1.2.0"
opentelemetry-sdk = ">=1.2.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
